<div class="formWarapper">
  <form [formGroup]="diseaseForm" (ngSubmit)="onSubmit()">
    <h1 style="color: blue"><b>Please Enter Disease Information </b></h1>
    <div class="inputcontainer">
      <mat-form-field appearance="outline">
        <mat-label>Identifier</mat-label>
        <input
          matInput
          placeholder="Identifier"
          formControlName="identifier"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 25%">
        <mat-select placeholder="Language" formControlName="language" required>
          <mat-option value="en">English</mat-option>
          <mat-option value="sw">Kiswahili</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 25%">
        <mat-label>Other Livestock Affected</mat-label>
        <input
          matInput
          placeholder="Other Livestock Affected"
          formControlName="other_livestock_affected"
          required
        />
      </mat-form-field>
    </div>

    <div class="flexContainer">
      <div class="ckContainer1">
        <div class="CkeditorContainer">
          <mat-label><b>Local Names</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="local_names"
          ></ckeditor>
        </div>

        <br />
        <div class="CkeditorContainer">
          <mat-label><b>Transmission</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="transmission"
          ></ckeditor>
        </div>

        <br />
        <div class="CkeditorContainer">
          <mat-label><b>Number Affected in Herd</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="number_affected_in_herd"
          ></ckeditor>
        </div>

        <br />
        <div class="CkeditorContainer">
          <mat-label><b>Death Rate</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="death_rate"
          ></ckeditor>
        </div>
      </div>
      <div class="ckContainer2">
        <div class="CkeditorContainer">
          <mat-label><b>Predesposing Factors</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="predisposing_factors"
          ></ckeditor>
        </div>

        <br />
        <div class="CkeditorContainer">
          <mat-label><b>Key Sings</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="key_signs"
          ></ckeditor>
        </div>

        <br />
        <div class="CkeditorContainer">
          <mat-label><b>Other Signs</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="other_signs"
          ></ckeditor>
        </div>

        <br />
        <div class="CkeditorContainer">
          <mat-label><b>Prevention</b></mat-label>
          <ckeditor
            [config]="{ placeholder: 'Type Here' }"
            [editor]="Editor"
            data=""
            formControlName="prevention"
          ></ckeditor>
        </div>
      </div>
    </div>
    <br />
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
