<div class="imageupload">
  <form [formGroup]="imageForm" (ngSubmit)="submitForm()">
    <br />
    <label for="description">Description</label>
    <input class="form-control" formControlName="description" required />

    <br />
    <input type="file" (change)="uploadFile($event)" #fileInput />
    <br />

    <div class="button-group">
      <button mat-raised-button color="accent" type="submit">Submit</button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="clearFields(fileInput)"
      >
        Add
      </button>
    </div>
  </form>
</div>
